.node--type-article.node--view-mode-full .node__content .field--name-body
{
	max-width: 1000px;
	padding: 0;
	margin: auto;
}
.node--type-article.node--view-mode-full .node__content .field--name-field-image-2{
	margin-bottom: 100px;
	filter: brightness(65%) contrast(135%);
}
.firma{
	width: 250px;
    height: 100px;
    background-image: url('../img/firma.png');
}
.copete-financial h3{
	color: #00A3E0 !important;
    text-align: left;
    font-size: 40px;
    margin-bottom: 80px !important;
}
.color1{
	color: #c5d7db;
}
.color2{
	color: #00a3e0;
}
.cabecera-table{
	font-size: 10px;
    color: #757679;
}
.bio span{
	color: #00A3E0;
	display: block;
	font-size: 14px;
	margin-bottom: 30px;
	margin-top: 10px;
}
.download
{
    background-color: #00A3E0;
    padding: 25px;
}
.back{
	background-color: #28373C;
	padding: 25px;
}
.download a,.back .backbtn{
	color:#fff;
	cursor: pointer;
}
.download a{
	text-align: center;
}
.node--view-mode-full #footer{
	margin-top: 200px;
	flex-wrap: wrap-reverse;
}
.backbtn.backbtntop{
  cursor: pointer;
  padding: 18px;
  margin-top: 25px;
  margin-right: 7vh;
}
a.canvasjs-chart-credit{
display:none !important;
}
.col-md-6#chart1,
.col-md-6#chart2,
.col-md-6#chart3,
.col-md-6#chart4{
height: 315px !important;
overflow: hidden;
}
.col-md-6#chart1 .canvasjs-chart-canvas,
.col-md-6#chart2 .canvasjs-chart-canvas,
.col-md-6#chart3 .canvasjs-chart-canvas,
.col-md-6#chart4 .canvasjs-chart-canvas{
height: 330px !important;
}
.node--type-article.node--view-mode-full h3,
.node--type-article.node--view-mode-full h4{
margin-bottom: 25px;
margin-top:25px;
color: #000;
}
.node--type-article.node--view-mode-full li{
	color: #91A7B2;
}


