.region-content {
    padding: 0;
    margin-top: -10px;
}
nav.navbar{
 overflow: hidden;
}
.swiper-slide-h {
    overflow-x: hidden;
}

body {
  background: #24282E;
  font-family: 'Noto Sans', sans-serif;
  overflow: hidden;
}

.swiper-container-1{
  position: absolute;
  z-index: 99999;
  top: 200px;
}

.thething {

  margin: 50px auto;
  width: 360px;
  height: 80px;
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 5%;
}

.hand{
position: absolute;
top: 16px;
left: 14px;
}


.switch {
  background: rgba(255, 255, 255, 0.36);
  cursor: pointer;
  display: block;
  position: relative;
  float: left;
  width: 360px;
  padding: 8px;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
}
.switch .handle {
  display: block;
  background: rgba(255, 255, 255, 0.63);
  height: 50px;
  width: 50px;
  -moz-border-radius: 40px;
  -webkit-border-radius: 40px;
  border-radius: 40px;
}
.switch .handletext{
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 16px;
  right: 70px;
}

.swiper-pagination-bullet {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    color: #fff;
    opacity: 1;
    background: none;
    margin: 6vh 20px !important;
}

.scroll-v-icon{
  position: absolute;
  bottom: 30px;
  left: 50%;
}

.swiper-pagination-v {
    z-index: 999;
    top: 0 !important;
    transform: translate3d(0px,10%,0)!important;
}

.swiper-pagination-bullet-active{
  border:1px solid #fff;
}

.node--view-mode-teaser .field--name-field-image img, .node--type-page .field--name-field-image img, .node--type-page .field--name-field-image-2 img{
  filter: brightness(65%) contrast(135%);
}

.footer-page{
  position: absolute;
  align-items: center;
  text-align: center;
  font-size: 26px;
  color:#fff;
  top:43%;
}
.node--type-page.node--view-mode-full{
  display: flex;
  align-items: center;
}

.footer-page a:hover{
  text-decoration: none;
  color: #fff;
  font-size: 26px;
}
.btn-pdf-download{
  border: 1px solid #fff;
  display: block;
  text-align: center;
  border-radius: 50px;
  color: #fff;
  font-weight: lighter;
  font-size: 26px;
  padding: 13px 91px;
  margin: 20px 0;
}
.btn-pdf-download:hover{
  color:#fff;
  text-decoration: none;
}

.node--type-page.node--view-mode-teaser .btn-pdf-download{
  position: absolute;
  bottom: 41px;
  left: 5%;
  z-index: 1;
  color: #fff;
  border-color: #fff;
}

.node--view-mode-teaser h2{
margin: 30px;
}

.node--type-page.node--view-mode-teaser h2 span{
color: #fff;
}

.navbar-brand .site-logo img{
     width: 45px;
    margin: 1px;
    margin-bottom: -5px;
}


